@model IEnumerable<InternetShop.Contracts.DataContracts.Product>

@{
    ViewBag.Title = "Index";
}

<h2>Products</h2>

<p>
    @Html.ActionLink("Add New", "Add")
</p>
<table class="table">
    <tr>
        <th>@Html.DisplayNameFor(model => model.Name)</th>
        <th>@Html.DisplayNameFor(model => model.Price)</th>
        <th>@Html.DisplayNameFor(model => model.Count).ToHtmlString()</th>
        <th>@Html.DisplayNameFor(model => model.Count)</th>
        <th></th>
    </tr>
   
@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Price)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Count)
        </td>
        <td>
            @Html.TextBoxFor(modelItem => item.Count, new { @type = "number", @min = "1", @max = item.Count, @class= "form-control text-box single-line" })
        </td>
        <td>
            @Html.ActionLink("Buy", "Buy", new { id = item.IDProduct, count = item.Count },new { @onclick=$"alert('{item.Name} of {item.Count} was added to user basket!')" })|
            @Html.ActionLink("Edit", "Edit", new { id=item.IDProduct }) |
            @Html.ActionLink("Details", "Details", new { id=item.IDProduct }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.IDProduct })
        </td>
    </tr>
}

</table>
